a {
	color: #505050;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.mainbox {
	position: absolute;
	top: 156px;
	left: 354px;
	/*background-color: #eaeaea;*/
}

#logo {
	display: block;	
	margin: auto;
}

#searchbox {
	display: block;
	margin: auto;
	font-size: 16px;
	border: solid 1px #e0e0e0;
	border-radius: 25px;
	padding: 10px 50px;
	background-color: #ffffff;
	background-image: url("magglass2.gif");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 46px 46px;
}

.searcharea {
	display: inline;
}

#searchbox:hover {
	border: solid 1px #ffffff;
	box-shadow: 1px 1px 5px #c0c0c0;
}

#microphone {
	position: relative;
	left: 512px;
	bottom: 32px;
	border: none;
	background-color: #fff;
}

.buttonbox {
	display: block;
	margin: auto;
	/*background-color: #c5c6f4;*/
	width: 290px;
}

.buttons {
	background-color: #ececec;
	border-radius: 4px;
	margin: 5px 3px;
	padding: 6px 15px;
	border: solid 1px #ececec;
	font-size: 14px;
	color: #707070;
}

.buttons:hover {
	border-color: #c0c0c0;
	color: #505050;
	box-shadow: 0 1px 0 0 #ececec;
}

.topbar {
	font-size: 13px;
	font-family: Arial;
	color: #505050;
	padding: 0 15px;
}

.topiteml {
	float: left;
	padding: 25px 10px
}

.topitemc {
	align-content: center;
}

.topitemr {
	float: right;
	padding: 25px 7px
}

.topbutton {
	background-color: #4285f4;
	border-radius: 4px;
	margin: auto;
	padding: 6px 15px;
	border: solid 1px #ececec;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}

.appsbutton {
	border: none;
	background-color: #fff;
}

.bottombar {
	font-size: 14px;
	font-family: Arial;
	background-color: #eee;
	position: fixed;
	bottom: 0;
	width: 100%;
	border: solid 1px #ddd;
	padding: 0 17px;
}

.bottomiteml {
	float: left;
	padding: 17px 14px;
}

.bottomitemr {
	float: right;
	padding: 17px 14px;
}